.form-main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:90%;
    /* height:75vh; */
    
}
.form-left{
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FAF0E6;
    border-radius: 8px;
    padding: 24px;
    height : 480px;
}
.form-right{
    width:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #5C5470;
    padding: 24px;
    height : 480px;
}
.header{
    height:20%;
    margin-bottom: 35px;
}
.body{
    height:60%;
    margin-bottom: 35px;
    width: 60%;
}
.footer{
    height:20%;
    /* background-color:brown;  */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}
#map {width: 100%;height: 100%;margin: 0;padding: 0; }